*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.top{
    height: 40px;
    margin-left: 800px;
    margin-top: 10px;
    
}
.app{
    width: 20px;
}
li{
    display: inline;
    
}
a{
    color: black;
}
.middle{
    margin:80px auto 0 auto;
    
}
#inp{
    width: 400px;
    border: none;
}
.bottom{
    margin:0 auto;
    border: 1px solid black ;
    width: 450px;
    border-radius: 50px;
    height: 30px;
}
.btn{
    border: none;
    margin-right: 0;
    border-radius: 50px;
    margin-top: 5px;
}
.btn-2{
    border: none;
}
.last{
    margin-top: 10px;
    border: none;
    
}
.src{
    border: none;
    height: 40px;
    
}
.src:hover{
border: black 1px solid;
cursor: pointer;

}

